#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.btn {
    background-color: black;
    color: white;
    padding: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
}